html{
    /* This image will be displayed fullscreen */
    background:url('background.jpg') no-repeat center center;
    
    font-family: 'Roboto', sans-serif;
    
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
    
    /* The Magic */
    background-size:cover;
}

body{
    /* Workaround for some mobile browsers */
    min-height:100%;
    
}

div.about  {
    height: 400px;
    max-width: 500px;
    background: rgba(255,255,255,0.3);
    box-shadow: 0px -1px 3px rgba(0,0,0,0.1), 0px 2px 6px rgba(0,0,0,0.5);
    border-radius: 6px;
    margin: 10% auto;
    overflow: hidden;
    z-index: 100;
    text-align:center;
}

div.about .title {
    margin:40px;
    text-align:center;
    margin-bottom:20px;
    color:#000;
    /*float: left;*/
}

.circular {
    margin:10% auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background: url('eightbitme.png') no-repeat;
    /*float: right;*/
}

.blabla {
    width:100%;
    text-align:center;
    font-weight:bold;
    margin-bottom:50px;
}

.links {
    /*width:100%;*/
    text-align:center;
}

a {
 text-decoration:none;
 color:#000;
}

.link {
    text-align:center;
    font-weight:bold;
    font-size:larger;
    /*width:25%;
    float:left;*/
    padding-left:20px;
    padding-right:20px;
    margin:10% auto;
    width:200px;
    border:1px #d11829;
}

.link:hover {
    color: #d11829;
}
